<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>
<table>
    <thead>
        <tr>
            <th (click) = "sort('name')">Name</th>
            <th (click) = "sort('city')">City</th>
            <th (click) = "sort('orderTotal')">Order Total</th>
        </tr>
    </thead>
    <tr *ngFor = "let cust of filteredCustomers">
        <td>
            <a>
                {{ cust.name | titlecase }}
            </a>
        </td>
        <td>
            {{ cust.city | titlecase }}
        </td>
        <td>
            {{ cust.orderTotal | currency : currencyCode : 'symbol' }}
        </td>
    </tr>
    <tr *ngIf = "filteredCustomers && filteredCustomers.length">
        <td colspan="1">&nbsp;</td>
        <td> Customers Order Total : </td>
        <td>
            {{customerOrderTotal | currency : currencyCode : 'symbol' }}
        </td>
    </tr>
    <tr *ngIf = "!filteredCustomers || !filteredCustomers.length">
        <td>No Customers Found</td>
    </tr>
</table>
<p *ngIf = "filteredCustomers">Total number of customers : {{filteredCustomers.length}} </p>